@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Inter, sans-serif;
    }
}

@layer components {
    h1 {
        @apply text-4xl font-medium;
    }

    h2 {
        @apply text-3xl font-semibold;
    }

    h3 {
        @apply text-2xl font-medium;
    }

    h4 {
        @apply text-xl font-medium;
    }

    h5 {
        @apply text-lg font-medium;
    }

    p {
        @apply text-base font-medium;
    }

    label {
        @apply text-sm font-medium leading-4;
    }

    caption {
        @apply text-xs font-medium leading-4;
    }

    .has_comment {
        @apply relative
    }

    .has_comment:after {
        content: "";
        @apply absolute right-0 top-0 border-[3.5px] border-solid border-transparent border-t-secondary border-r-secondary
    }
}

/* CSS class for hiding the scrollbar */
.scroll-hidden::-webkit-scrollbar {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.feed_height {
    height: calc(100vh - 220px) !important;
}

.feed_height2 {
    height: calc(100vh - 230px) !important;
}

label:hover {
    cursor: unset;
}

.max-lines-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.hs-overlay-backdrop {
    position: unset;
}

.transition-bg-500 {
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.radial {
    background: radial-gradient(50% 50% at 50% 50%, rgba(240, 207, 120, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%), #F7EFD7;
}
