@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Inter, sans-serif;
    }
}

@layer components {
    h1 {
        @apply text-4xl font-medium;
    }

    h2 {
        @apply text-3xl font-medium;
    }

    h3 {
        @apply text-2xl font-medium;
    }

    h4 {
        @apply text-xl font-medium;
    }

    h5 {
        @apply text-lg font-medium;
    }

    p {
        @apply text-base font-medium;
    }

    label {
        @apply text-sm font-medium leading-4;
    }

    caption {
        @apply text-xs font-medium leading-4;
    }
}

/* CSS class for hiding the scrollbar */
.scroll-hidden::-webkit-scrollbar {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.feed_height {
    height: calc(100vh - 220px) !important;
}

label:hover {
    cursor: unset;
}

.max-lines-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

#wrapper {
    /*position:absolute;*/
    /*height:100%;*/
    /*width:100%;*/
}

.panels {
    /*position: relative;*/
    /*height: 100%;*/
    /*min-height: 100%;*/
    /*width: 100%;*/
    z-index: 1000;
}

#fixed {
    position: fixed;
    top: 0;
    z-index: -99;
    width: 100%;
}

#overlay {
    margin-top: 40%;
}

#bar {
    position: sticky;
    top: 0;
}
